{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <div class="loginform">
        <h1>Edit your account</h1>
        <p>You can edit your account using the following form:</p>
        <img src="{% if profile.photo %}{{ profile.photo.url }}{% endif %}" width="100" height="100">
        <form action="." method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save changes"></p>
        </form>
    </div>
{% endblock %}